<!-- 
 File: show_profile.html
 Author: John kim (johnjk@bu.edu), 10/15/2024
 Description: this file is the show profile HTML template for mini_fb
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Show Profile!</h2>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>City</th>
    <th>Email</th>
    <th>Profile Picture</th>
  </tr>
  <!-- display the information -->
  <tr>
    <td>{{ profile.first_name }}</td>
    <td>{{ profile.last_name }}</td>
    <td>{{ profile.city }}</td>
    <td>{{ profile.email }}</td>
    <td><img src="{{ profile.profile_url }}" alt="{{ profile.first_name }}'s profile picture"></td>
  </tr>
</table>

<!-- statusmsg display -->
<h2>Status Messages!</h2>
<div class="create">
  <a href="{% url 'create_status' profile.pk %}">Create Status</a>
  <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
</div>
{% if profile.get_status_messages %}
  <ul class="status-messages">
    {% for message in profile.get_status_messages %}
      <li>
        {{ message }} <div></div>
        {{ message.timestamp }}

        {% if message.get_images %}
          <ul class="status-images">
            {% for image in message.get_images %}
              <li class="status-image">
                <img src="{{ image.img_file.url }}" alt="{{ image.img_file }}">
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>

      <a href="{% url 'delete_status' message.pk %}">Delete</a>
          
      <a href="{% url 'update_status' message.pk %}">Update</a>
      
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

