<!-- 
 File: show_profile.html
 Author: John kim (johnjk@bu.edu), 10/15/2024
 Description: this file is the show profile HTML template for mini_fb
-->

{% extends 'mini_fb/base.html' %} {% block content %}
<h2>Show Profile!</h2>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>City</th>
    <th>Email</th>
    <th>Profile Picture</th>
  </tr>
  <!-- display the information -->
  <tr>
    <td>{{ profile.first_name }}</td>
    <td>{{ profile.last_name }}</td>
    <td>{{ profile.city }}</td>
    <td>{{ profile.email }}</td>
    <td>
      <img
        src="{{ profile.profile_url }}"
        alt="{{ profile.first_name }}'s profile picture"
      />
    </td>
  </tr>
</table>

<!-- statusmsg display -->
<h2>Status Messages!</h2>

{% if user.is_authenticated and user == profile.user %}
<div class="create">
  <a href="{% url 'create_status' %}">Create Status</a>
  <a href="{% url 'update_profile' %}">Update Profile</a>
</div>
{% else %}
<div>You have to login/own to update profile!</div>
{% endif %} {% if profile.get_status_messages %}
<ul class="status-messages">
  {% for message in profile.get_status_messages %}
  <li>
    {{ message }}
    <div></div>
    {{ message.timestamp }} {% if message.get_images %}
    <ul class="status-images">
      {% for image in message.get_images %}
      <li class="status-image">
        <img src="{{ image.img_file.url }}" alt="{{ image.img_file }}" />
        <p>{{ image.upload_time }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>

  {% if user.is_authenticated and user == profile.user %}
  <a href="{% url 'delete_status' message.pk %}">Delete</a>
  <a href="{% url 'update_status' message.pk %}">Update</a>
  {% else %}
  <div>You have to own this to create/delete messages!</div>
  {% endif %} {% endfor %}
</ul>
{% endif %}
<h2>Friends list:</h2>
<ul class="friends-list">
  {% for friend in profile.get_friends %}
  <li>
    <a href="{% url 'show_profile' friend.pk %}"
      >{{ friend.first_name }} {{ friend.last_name }}</a
    >
  </li>
  {% endfor %}
</ul>
<h2>Friend Suggestions:</h2>
{% if user.is_authenticated and user == profile.user %}
<a href="{% url 'show_friends_suggestions' %}">See Who to Add</a>
{% else %}
<div>You have to login/ownto find friends!</div>
{% endif %}

<h2>News Feed</h2>
{% if user.is_authenticated and user == profile.user %}
<a href="{% url 'show_news_feed' %}">News Feed</a>
{% else %}
<div>You have to login/own to show news!</div>
{% endif %} {% endblock %}
